<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="../node_modules/@activix//bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css">
  <!-- <link rel="stylesheet" href="/style.css"> -->

  <title>zr datepicker</title>
  <style type="text/css">
    .container-demo {
      margin-top: 70px;
    }

    .datetimepicker {
      padding: 10px;
    }

    .datetimepicker td,
    .datetimepicker th {
      width: 34px;
      height: 34px;
      border-radius: 50%;
    }

    .datetimepicker td,
    .datetimepicker th {
      border-radius: 50%;
    }

    .datetimepicker table tr td.active,
    .datetimepicker table tr td.active:hover,
    .datetimepicker table tr td.active.disabled,
    .datetimepicker table tr td.active.disabled:hover {
      background-color: #828ee6;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#828ee6), to(#7d86ca));
      background-image: linear-gradient(to bottom, #828ee6, #7d86ca);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
      border-color: #828ee6 #7d86ca #7d86ca;
      border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
      filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    }

    .datetimepicker .datetimepicker-hours span {
      height: 30px;
      line-height: 30px;
    }

    .datetimepicker table tr td span {
      border-radius: 50%;
    }

    .datetimepicker table tr td span.active,
    .datetimepicker table tr td span.active:hover,
    .datetimepicker table tr td span.active.disabled,
    .datetimepicker table tr td span.active.disabled:hover {
      background-color: #828ee6;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#828ee6), to(#7d86ca));
      background-image: linear-gradient(to bottom, #828ee6, #7d86ca);
      background-repeat: repeat-x;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
      border-color: #828ee6 #7d86ca #7d86ca;
      border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
      filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    }

    .datetimepicker table tr td span {
      height: 50px;
      line-height: 50px;
    }

    .datetimepicker .datetimepicker-minutes span {
      height: 48px;
      line-height: 48px;
    }

    .datetimepicker .datetimepicker-minutes .next span,
    .datetimepicker .datetimepicker-minutes .prev span {
      height: 28px;
      line-height: 28px;
    }

  </style>
</head>

<body>

  <a href="https://github.com/ZhongruiGroup/zr-datepicker" class="hidden-xs">
    <img style="position: absolute; top: 0; right: 0; border: 0; z-index: 2000" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67"
      alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png">
  </a>

  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">zr datepicker</a>
      </div>
      <ul class="nav navbar-nav hidden-xs">
        <li class="active">
          <a href="javascript:;">Demo</a>
        </li>
        <li>
          <a href="https://github.com/ZhongruiGroup/zr-datepicker#installation">Installation</a>
        </li>
        <li>
          <a href="https://ZhongruiGroup.github.io/zr-datepicker/docs/">Documentation</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid container-demo">
    <directive-demo-app>Loading demo...</directive-demo-app>
  </div>
  <script src="../node_modules/jquery/dist/jquery.min.js"></script>
  <script src="../node_modules/@activix/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
  <script src="../node_modules/@activix/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>

</body>

</html>
